# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db
